body {
    background-color: #fff; /* #f3f3f3; */
}

a:link { text-decoration: none}

.book {
    height: 380px;
    background-color: #fff;
    /* border: solid 1px #ddd;
    border-radius: 5px; */
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 35px;
    /* padding-bottom: 50px; */
    margin-bottom: 15px;
    color: #555;
}

/* .book:hover {
    background-color: #C8C3B2; 
} */


.imgmargin {
    margin-bottom: 20px;
}

.bookname {
    font-size: 1.4rem;
}

.bookdescription {
    font-size: 0.9rem;
}

h2 {
	color: #fff;
	}

