<!DOCTYPE html>
<html lang="de" ng-app="bookview_App">
<head>

  <meta charset="utf-8">
  <title>openscreencast - books</title>
  <meta name="description" content="openscreencast - books">
  <meta name="author" content="openscreencast">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/kube.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/angular.js"></script>
  <script src="js/data.js"></script>	
  <script src="js/app.js"></script>

</head>
<body>

  <div ng-controller="bookviewController">

  <div class="row centered" style="margin-top: 3%">
  <div class="col col-10">

    <!-- alle Bücher auflisten -->
    <div class="row">
      <div class="col" style="text-align: center">
        <span ng-repeat="book_i in book_options"><button ng-click="change_book(book_i)">{{book_i}}</button></span>
      </div>
    </div>
    
    <!-- alle Buchkategorien auflisten -->
    <div class="row" style="margin-bottom: 2%; margin-top: 2%">
      <div class="col" style="text-align: center">
        <span ng-repeat="book_category_i in book_category_options"><button ng-click="change_book_category(book_category_i)">{{book_category_i}}</button> &nbsp; </span>
      </div>
    </div>

    <!-- Inhalt auflisten -->
    <div class="row blocks">
    <div class="col col-3" ng-repeat="book_i in bookview_data_for_repeat">
        <a href="{{book_i.gitbook_url}}">
            <div class="book">
                <img src="{{book_i.image}}" class="imgmargin" />
                <p class="bookname"><strong>{{book_i.name}}</strong></p>
                <p class="bookdescription">{{book_i.description}}</p>
            </div>
        </a>
    </div>
    </div>

  </div>
  </div>

  </div> <!-- // Ende container -->



</body>
</html>
